@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Farsan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.pink {
  color: lightpink;
}
.blue {
  color: rgb(113, 209, 196);
}
.orange {
  color: #fd781f;
}
.yellow {
  color: #ffca67;
}
.salmon {
  color: #ffb8a7;
}

.animation {
  position: absolute;
  top: 0;
  height: 100dvh;
  background-color: rgb(255, 235, 207);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.font-size {
  display: flex;
  font-family: "Shrikhand", serif;
  font-size: 10em;
  text-align: center;
  justify-content: center;
}

body {
  background-color: rgb(255, 235, 207);
}

header {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translatex(50%);
  display: flex;
  justify-content: center;
  width: 100%;
  height: 150px;
}
header ul {
  height: 100%;
  display: flex;
  gap: 5em;
  font-size: 2em;
  margin-bottom: 3em;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 120px;
}

.img_logo {
  position: absolute;
  top: 1em;
  left: 5em;
}

a {
  text-decoration: none;
}
li {
  list-style-type: none;
  font-family: "Shrikhand", serif;
  color: #ffa767;
}
a :hover {
  color: #fd781f;
}
.arrow {
  position: absolute;
  display: flex;
  justify-self: center;
  align-self: flex-end;
  margin-bottom: 1em;
}

.arrow2 {
  margin-top: 3em;
}

.arrow3 {
  margin: 0 auto;
  margin-top: 2em;
}

.arrow img:hover {
  transform: scale(1.2);
}

.arrow2 img:hover {
  transform: scale(1.2);
}
.arrow3 img:hover {
  transform: scale(1.2);
}

.h1_co_1 {
  font-size: 5em;
  font-family: "Shrikhand", serif;
  color: #ffa767;
}

.p_co_1 {
  font-size: 2em;
  color: rgb(59, 56, 56);
  margin-top: 0.5em;
  font-family: "Farsan", cursive;
}

#main_con {
  height: 100dvh;
  align-items: center;
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  scroll-snap-align: center;
}

.column1 {
  display: grid;
  justify-items: center;
}

.column2 {
  display: grid;
  justify-self: center;
}

/********************Project section********************/
.column3 {
  height: 100dvh;
  scroll-snap-align: center;
}

#colorbox {
  background-color: #ffe2b7;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#colorbox_h1 {
  font-size: 3em;
  padding-bottom: 2em;
  font-family: "Shrikhand", serif;
  color: #fd781f;
}

.swiper {
  height: 70%;
  width: 50%;
}

.swiper-slide {
  border-radius: 5%;
  border-color: #fd781f;
  border-style: solid;
  height: 100%;
  background-color: rgb(253, 223, 189);
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.swiper-slide img {
  border-radius: 5%;
  max-width: 500px;
  transition: transform 0.5s;
}

.swiper-slide img:hover {
  transform: scale(1.1);
}

.swiper-button-prev,
.swiper-button-next {
  color: #fd781f;
}

.h1_swiper {
  font-family: "Shrikhand", serif;
  font-size: 1.5em;
  color: #fd781f;
}

.p_swiper {
  font-size: 1.5em;
  color: rgb(59, 56, 56);
  font-family: "Farsan", cursive;
  max-width: 500px;
}

/********************About me section********************/
#column4 {
  scroll-snap-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.column4_grid {
  display: flex;
  align-items: center;
  min-height: 600px;
  max-width: 1500px;
  margin: 0 auto;
  gap: 4em;
}

#column4_h1 {
  font-family: "Shrikhand", serif;
  font-size: 3em;
  text-align: center;
  padding-top: 2em;
  color: #ffa767;
}

.column4_p {
  font-size: 1.7em;
  font-family: "Farsan", cursive;
}

.column4_p2 {
  margin-bottom: 2em;
}

.about_me {
  display: grid;
  margin-top: 3em;
  font-family: "Farsan", cursive;
  grid-template-columns: repeat(2, 20%);
  justify-content: center;
}

.ul_about li {
  font-family: "Farsan", cursive;
  color: rgb(59, 56, 56);
}

.ul_con {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  font-size: 1.8em;
}
.bold {
  font-weight: 700;
}

.flex_3 h3 {
  font-size: 3em;
  color: #fd781f;
}

.flex_4 h3 {
  font-size: 3em;
  color: #fd781f;
}
.flex_3,
.flex_4 {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
}
.aboutme_btn {
  margin: 0 auto;
  max-width: 200px;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5%;
  background-color: #ffa767;
  font-family: "Farsan", cursive;
}

.back_btn:hover {
  color: #fd781f;
}

.back_btn {
  margin: 0 auto;
  max-width: 200px;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5%;
  background-color: #ffa767;
  font-family: "Farsan", cursive;
}

.aboutme_btn:hover {
  color: #fd781f;
}

/*********************Contact section*******************/
#column5 {
  scroll-snap-align: center;
  height: 100dvh;
}

.colorbox2 {
  background-color: #ffe2b7;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.column5_h1 {
  font-family: "Shrikhand", serif;
  font-size: 3em;
  text-align: center;
  padding-top: 2em;
  color: #fd781f;
  padding-bottom: 2em;
}
.colorbox2 h2 {
  font-size: 4em;
  color: #fd781f;
  font-family: "Farsan", cursive;
}
.colorbox2 p {
  font-size: 3em;
  font-family: "Farsan", cursive;
}

.colorbox2 a {
  color: initial;
  text-decoration: underline;
}

.hygge_img {
  margin-top: 3em;
}

.contact_hover a:hover {
  color: #fd781f;
}

.top_btn {
  margin: 0 auto;
  max-width: 200px;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5%;
  background-color: #ffa767;
  font-family: "Farsan", cursive;
}

.a_btn a {
  text-decoration: none;
}

.top_btn:hover {
  color: #fd781f;
}
/********************Hide********************/
.hide {
  display: none !important;
}

@media screen and (min-width: 2560px) {
  header ul {
    font-size: 2.8em;
  }

  header {
    height: 200px;
  }
  .logo {
    max-width: 400px;
  }

  .p_co_1 {
    font-size: 2.5em;
  }
  .portrait img {
    width: 700px;
  }
  .portrait {
    margin-left: 5em;
  }
  /*****projects*****/
  .swiper-slide img {
    max-width: 700px;
  }
  .h1_swiper {
    font-size: 1.7em;
  }
  .p_swiper {
    font-size: 1.8em;
    max-width: 700px;
  }

  /*****about me*****/
  .column4_p {
    font-size: 2em;
    margin-top: 2em;
  }

  .aboutme_btn {
    margin-top: 4em;
    max-width: 400px;
    font-size: 2em;
  }

  .column4_img img {
    width: 800px;
  }

  .ul_con {
    font-size: 2.5em;
  }

  .flex_3 h3 {
    font-size: 4em;
  }

  .flex_4 h3 {
    font-size: 4em;
  }

  .back_btn {
    max-width: 400px;
    font-size: 2em;
  }

  /*****contact*****/

  .colorbox2 h2 {
    font-size: 5em;
  }
  .colorbox2 p {
    font-size: 4em;
  }

  .hygge_img {
    margin-top: 5em;
    width: 1200px;
  }

  .top_btn {
    max-width: 400px;
    font-size: 2em;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1600px) {
  header ul {
    font-size: 2em;
    gap: 2em;
  }
  .font-size {
    font-size: 7em;
  }
  header {
    height: 200px;
  }
  .logo {
    max-width: 120px;
  }
  .img_logo {
    left: 2em;
    top: 1.5em;
  }
  .p_co_1 {
    font-size: 1.7em;
    max-width: 600px;
  }
  .portrait img {
    width: 550px;
  }
  .h1_co_1 {
    font-size: 4em;
  }

  .column1 {
    margin-top: 10em;
  }
  #main_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .arrow {
    position: absolute;
    display: flex;
    justify-self: center;
    align-self: auto;
    margin-top: 110%;
  }

  /*****projects*****/

  .swiper-slide img {
    max-width: 400px;
  }
  .h1_swiper {
    font-size: 1.7em;
  }
  .p_swiper {
    font-size: 1.7em;
    max-width: 350px;
  }
  .swiper {
    height: 70%;
    width: 50%;
  }

  /*****about*****/
  .column4_p {
    font-size: 1.7em;
    margin-bottom: 1em;
    max-width: 700px;
  }
  .column4_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .column4_img img {
    width: 600px;
    margin-top: 2em;
  }

  .ul_con {
    font-size: 2em;
  }

  .flex_3 h3 {
    font-size: 3em;
  }

  .flex_4 h3 {
    font-size: 3em;
  }

  .back_btn {
    font-size: 1.7em;
    padding: 0.5em;
  }

  .aboutme_btn {
    max-width: 400px;
    font-size: 1.7em;
  }

  /*****contact*****/

  .hygge_img {
    margin-top: 15em;
    width: 900px;
    margin-bottom: 5em;
  }

  .top_btn {
    max-width: 400px;

    font-size: 2em;
  }
}

@media screen and (max-width: 1023px) {
  header ul {
    font-size: 1.5em;
    gap: 2em;
  }

  .font-size {
    font-size: 5em;
  }

  header {
    height: 200px;
    width: 100%;
  }
  .logo {
    max-width: 100px;
  }
  .p_co_1 {
    font-size: 1.5em;
    max-width: 600px;
  }
  .portrait img {
    width: 500px;
    margin-top: 1em;
  }
  .h1_co_1 {
    font-size: 3em;
  }

  #main_con {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .arrow {
    position: absolute;
    display: flex;
    justify-self: center;
    align-self: auto;
    margin-top: 140%;
  }

  /*****projects*****/

  .swiper-slide img {
    max-width: 400px;
  }
  .h1_swiper {
    font-size: 1.5em;
  }
  .p_swiper {
    font-size: 1.5em;
    max-width: 400px;
  }
  .swiper {
    height: 60%;
    width: 70%;
  }

  /*****about*****/
  .column4_p {
    font-size: 1.5em;
    margin-top: 1em;
    margin-bottom: 1em;
    max-width: 500px;
  }
  .column4_grid {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .aboutme_btn {
    max-width: 300px;
    font-size: 1.5em;
  }

  .column4_img img {
    width: 500px;
    margin-top: 2em;
  }

  .ul_con {
    font-size: 1.7em;
  }

  .flex_3 h3 {
    font-size: 2em;
  }

  .flex_4 h3 {
    font-size: 2em;
  }

  .hygge_img {
    margin-top: 10em;
    width: 750px;
  }

  .top_btn {
    max-width: 400px;
    font-size: 1.5em;
  }
}
