@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Farsan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.pink {
  color: lightpink;
}
.blue {
  color: rgb(113, 209, 196);
}
.orange {
  color: #fd781f;
}
.yellow {
  color: #ffca67;
}
.salmon {
  color: #ffb8a7;
}

.animation {
  position: absolute;
  top: 0;
  height: 100dvh;
  background-color: rgb(255, 235, 207);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.font-size {
  display: flex;
  font-family: "Shrikhand", serif;
  font-size: 10em;
  text-align: center;
  justify-content: center;
}

body {
  background-color: rgb(255, 235, 207);
}

header {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translatex(50%);
  display: flex;
  justify-content: center;
  height: 150px;
}
ul {
  height: 100%;
  display: flex;
  gap: 5em;
  font-size: 2em;
  margin-bottom: 3em;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 300px;
}
.img_logo {
  margin-left: -15em;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  font-family: "Shrikhand", serif;
  color: #ffa767;
}
.arrow {
  position: absolute;
  display: flex;
  justify-self: center;
  align-self: flex-end;
}

.arrow img {
  color: lightpink;
}

.arrow img:hover {
  transform: scale(1.2);
}

#h1_co_1 {
  font-size: 5em;
  font-family: "Shrikhand", serif;
  color: #ffa767;
}

.p_co_1 {
  font-size: 1.5em;
  margin-top: 0.5em;
  font-family: "Farsan", cursive;
}

.main_con {
  height: 100dvh;
  align-items: center;
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  scroll-snap-align: center;
}

.column1 {
  display: grid;
  justify-items: center;
}

.column2 {
  display: grid;
  justify-self: center;
}

.column3 {
  height: 100dvh;
  scroll-snap-align: center;
}

#colorbox {
  background-color: #ffa767;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#colorbox_h1 {
  font-size: 3em;
  padding-bottom: 2em;
  font-family: "Shrikhand", serif;
}

.swiper {
  height: 70%;
  width: 50%;
}

.swiper-slide {
  border-radius: 5%;
  border-color: #e28b76;
  border-style: solid;
  height: 100%;
  background-color: #ffb8a7;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.swiper-slide img {
  border-radius: 5%;
  max-width: 500px;
  transition: transform 0.5s;
}

.swiper-slide img:hover {
  transform: scale(1.1);
}

.swiper-button-prev,
.swiper-button-next {
  color: #fd781f;
}

.h1_swiper {
  font-family: "Shrikhand", serif;
  font-size: 1.5em;
}

.p_swiper {
  font-size: 1.5em;
  font-family: "Farsan", cursive;
  max-width: 500px;
}

#column4 {
  scroll-snap-align: center;
  height: 100dvh;
  display: grid;
  justify-content: center;
}

.column4_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1500px;
  margin: 0 auto;
}

#column4_h1 {
  font-family: "Shrikhand", serif;
  font-size: 3em;
  padding-top: 1em;
  text-align: center;
}

.column4_p {
  font-size: 1.7em;
  font-family: "Farsan", cursive;
}
