@import url("https://fonts.googleapis.com/css2?family=Chewy&family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Farsan&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

.pink {
  color: lightpink;
}
.blue {
  color: rgb(113, 209, 196);
}
.orange {
  color: #fd781f;
}
.yellow {
  color: #ffca67;
}
.salmon {
  color: #ffb8a7;
}

.animation {
  position: absolute;
  top: 0;
  height: 100dvh;
  background-color: rgb(255, 235, 207);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.font-size {
  display: flex;
  font-family: "Shrikhand", serif;
  font-size: 10em;
  text-align: center;
  justify-content: center;
}

body {
  background-color: rgb(255, 235, 207);
}

header {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translatex(50%);
  display: flex;
  justify-content: center;
  height: 150px;
}
ul {
  height: 100%;
  display: flex;
  gap: 5em;
  font-size: 2em;
  margin-bottom: 3em;
  justify-content: center;
  align-items: center;
}
.logo {
  max-width: 300px;
}
.img_logo {
  margin-left: -15em;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
  font-family: "Shrikhand", serif;
  color: #ffa767;
}
a :hover {
  color: #fd781f;
}
.arrow {
  position: absolute;
  display: flex;
  justify-self: center;
  align-self: flex-end;
}

.arrow img:hover {
  transform: scale(1.2);
}

.h1_co_1 {
  font-size: 5em;
  font-family: "Shrikhand", serif;
  color: #ffa767;
}

.p_co_1 {
  font-size: 2em;
  color: rgb(59, 56, 56);
  margin-top: 0.5em;
  font-family: "Farsan", cursive;
}

.main_con {
  height: 100dvh;
  align-items: center;
  max-width: 1500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: auto;
  scroll-snap-align: center;
}

.column1 {
  display: grid;
  justify-items: center;
}

.column2 {
  display: grid;
  justify-self: center;
}

.column3 {
  height: 100dvh;
  scroll-snap-align: center;
}

#colorbox {
  background-color: #ffe2b7;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#colorbox_h1 {
  font-size: 3em;
  padding-bottom: 2em;
  font-family: "Shrikhand", serif;
  color: #fd781f;
}

.swiper {
  height: 70%;
  width: 50%;
}

.swiper-slide {
  border-radius: 5%;
  border-color: #fd781f;
  border-style: solid;
  height: 100%;
  background-color: rgb(253, 223, 189);
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
}

.swiper-slide img {
  border-radius: 5%;
  max-width: 500px;
  transition: transform 0.5s;
}

.swiper-slide img:hover {
  transform: scale(1.1);
}

.swiper-button-prev,
.swiper-button-next {
  color: #fd781f;
}

.h1_swiper {
  font-family: "Shrikhand", serif;
  font-size: 1.5em;
  color: #fd781f;
}

.p_swiper {
  font-size: 1.5em;
  color: rgb(59, 56, 56);
  font-family: "Farsan", cursive;
  max-width: 500px;
}

#column4 {
  scroll-snap-align: center;
  height: 100dvh;
  display: flex;
  flex-direction: column;
}

.column4_grid {
  display: flex;
  align-items: center;
  min-height: 600px;
  max-width: 1500px;
  margin: 0 auto;
  gap: 4em;
}

#column4_h1 {
  font-family: "Shrikhand", serif;
  font-size: 3em;
  text-align: center;
  padding-top: 2em;
  color: #ffa767;
}

.column4_p {
  font-size: 1.7em;
  font-family: "Farsan", cursive;
}

.column4_p2 {
  margin-bottom: 2em;
}

.hobby_icons img {
  max-width: 150px;
}

#column5 {
  scroll-snap-align: center;
  height: 100dvh;
}

.colorbox2 {
  background-color: #ffe2b7;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.column5_h1 {
  font-family: "Shrikhand", serif;
  font-size: 3em;
  text-align: center;
  padding-top: 2em;
  color: #fd781f;
  padding-bottom: 2em;
}
.colorbox2 h2 {
  font-size: 4em;
  color: #fd781f;
  font-family: "Farsan", cursive;
}
.colorbox2 p {
  font-size: 3em;
  font-family: "Farsan", cursive;
}

.colorbox2 a {
  color: initial;
  text-decoration: underline;
}
